@media screen and (min-width: 770px) and (max-width: 2560px) {
    form {
        width: 50%;
    
    }
    .areaInferior {
        display: flex;
        justify-content: center;

    }
}
body {
    background: linear-gradient(#E2E9F9, #629eb8);
    height: 100vh;
    
}
.areaForm {
    display: flex;
    flex-direction: column;
}
button {
    background-color: #253E45;
    color: white;
    height: 50px;
    margin-bottom: 15px;
}
button:hover {
    background-color: #005F79;
}
a {
    text-decoration: none;
    color: #4d4d4d;
    
}
a:hover {
    color: white;
}
input {
    margin-bottom: 10px;
}
.forget {
    align-self: flex-end;
}
.div1 , .div2, .div3 {
    background-color: #005F79;
}
.div1 {
    width: 15px;
    height: 25px;
    margin: 5px;
}
.div2 {
    width: 15px;
    height: 40px;
    margin: 5px;
}
.div3 {
    width: 15px;
    height: 60px;
    margin: 5px;
}
.estrutura {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

label {
    font-weight:500;
}
h1 {
    width: 200px;
    margin: 10px auto;
    border-bottom: 1px solid #6CB3D0;
    padding-bottom: 18px;

}
/* .areaSuperior {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */